@use "./Vars" as *;

.conOfAllBrands {
  display: flex;
  justify-content: center;
  align-items: center;

  .brandsImgCon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    img {
      max-width: 70%;
      // border-radius: 25px;
    }
  }
  .brandspCon {
    text-align: center;
  }
}

.NewsAll {
  // padding: 30px 0;
  .conofNews {
    border: 1px solid $main-color;
    margin-top: 15px;
    border-radius: 15px;
    // padding: 10px 0;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .newsImgCon {
      // border: 2px solid $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 300px;
      img {
        max-width: 85%;
      }
    }
    .newspCon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-height: 150px;
    }
  }
}
