@use "./Vars" as *;

.contactCon {
  padding: 20px 0;
  .foCon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: gray;
  }
  h3 {
    font-size: 25px;
  }
  h2 {
    text-align: center;
    padding: 10px 0;
    color: $main-color;
  }
  svg {
    color: $main-color;
    font-size: 40px;
  }
}

.contactusCon {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .conIn1 {
    width: 90%;
    margin: 10px auto;
    input {
      width: 90%;
      text-align: center;
    }
  }
  .conAllIn {
    width: 90%;
    margin: 10px auto;
    input {
      width: 40%;
      text-align: center;
      margin: auto;
    }
  }
  button {
    background-color: $main-color;
    border-radius: 0;
    color: white !important;
  }
}

.orContactCon {
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin: 10px auto;
    }
    h3 {
      font-size: 20px !important;
    }
  }
}
