@use "./Vars" as *;

.allNav {
  position: fixed;
  z-index: 200 !important;
  top: 0;
  width: 100%;
  padding: 0;
  transition: 500ms;
}
.allNavChange {
  position: fixed;
  z-index: 200 !important;
  top: 0;
  width: 100%;
  padding: 0;
  // background-color: $main-color 50%;
  background-color: rgba($main-color-back, 100%);
  transition: 500ms;
}

.navFix {
  flex-grow: 0;
  padding: auto 20px;

  //   width: 50%;
  //   border: $test;
  li {
    margin: auto 10px;
  }
}

a {
  color: $main-color-font !important;
}
.licolor {
  // color: white !important;
  // color: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}

.logostyling {
  width: 60px;
}

//services btn
.servicesBtn {
  color: white;
  border: 1px solid transparent;
}
.dropdown-menu {
  background-color: rgba($main-color-back, 20%);
  border: 1px solid transparent;
  .dropdown-item {
    background-color: transparent;
  }
  .dropdown-item:hover {
    background-color: rgba($main-color-back, 40%);
  }
}

// Mobile Screens
@media (max-width: 767px) {
  .allNav {
    position: sticky;
    background-color: $main-color-back !important;
  }
}
// Small Screens
@media (min-width: 768px) {
  .allNav {
    position: sticky;
    background-color: rgba($main-color-back, 100%) !important;
  }
}
// Medium Screens
@media (min-width: 992px) {
  .allNav {
    position: fixed;
    background-color: rgba($main-color-back, 100%) !important;
  }
}
// large Screens
@media (min-width: 1200px) {
  .allNav {
    position: fixed;
    background-color: rgba($main-color-back, 100%) !important;
  }
}

// $main-color: #09aff4;
// $main-color-back: #060922;
// $main-color-font: white;
