@use "./Vars" as *;

.conOfStoryofnetworksolutions {
  h3 {
    color: $main-color;
    margin: 20px auto;
    text-align: center;
  }
  h4 {
    color: $main-color;
  }

  .conOfnetworkimg {
    img {
      max-width: 100%;
    }
  }
}
