@use "./Vars" as *;

#SERVICES {
  padding: 40px 0;
}

.servChild {
  padding: 40px 5px !important;
  border: $test !important;
  padding: 40px 25px !important;
  width: 100%;
  border-radius: 8px;
  margin-top: 25px;
  transition: 400ms ease-in-out;
  a {
    color: $main-color !important;
  }
  svg {
    border: $test;
    padding: 10px;
    border-radius: 8px;
    color: $main-color !important;
    font-size: 50px;
    margin: 10px 0;
  }

  .secondSvg {
    font-size: 13px;
    margin: 0 10px;
    border: none;
    padding: 0;
  }
}
.servChild:hover {
  color: white !important;
  background-color: $main-color !important;
  svg {
    border: 1px solid white;
    color: white !important;
  }
  .secondSvg {
    border: none !important;
  }
  a {
    color: white !important;
  }
}
