@use "./Vars" as *;

.storyCon {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $main-color;
  }
  h3 {
    color: $main-color;
  }
  span {
    color: orangered;
    font-size: 25px;
  }

  .conOfvission {
    img {
      max-width: 100%;
    }
  }
}
