// Global vars
$aquamarine: aquamarine;

$Pink: #dd3170;
$blue: #393a59;
$Babyblue: rgb(198, 223, 223);

$main-color: #09aff4;
$main-color-back: #060922;
$main-color-font: white;
$test: 1px solid $main-color;
