@use "./Vars" as *;

@use "./Vars" as *;

// .aboutCon {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.WhyChoose {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
  span {
    font-size: 50px;
    color: $main-color;
    border-bottom: 1px solid $main-color;
  }
  .rightWhy {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    .whyChild {
      display: flex;
    }
    svg {
      color: $main-color;
      background-color: rgb(58, 77, 82);
      padding: 10px;
      border-radius: 5px;
      transition: 300ms;
    }
    svg:hover {
      color: white;
      background-color: $main-color;
      padding: 20px 10px;
      border-radius: 5px;
    }
    .threenum {
      color: $main-color;
      font-size: 30px;
      font-weight: 900;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }

  .leftWhy {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      // border: $test;
      max-width: 100%;
    }
  }
}
